{
        "project_id": "infra-666666",
        "source_image_family":"ubuntu-6666-lts",
        "db_disk_size":"66",
        "app_disk_size":"66",
        "disk_type" : "pd-standard",
        "tags": "foo"
}
